<footer>
	<div class="footer-wrapper">
		<div class="bank-partner push-top-bottom">
			<span>bank partner</span>
			<a><img src="./assets/images/logo_bca_small.png" alt="zeeza rekening bank bca" height="25"></a>
			<a><img src="./assets/images/logo_mandiri_small.png" alt="zeeza rekening bank mandiri" height="25"></a>
			<a><img src="./assets/images/logo_niaga_small.png" alt="zeeza rekening bank niaga" height="25"></a>
		</div>

		<div class="copyright">
			copyright &copy; 2016. ZeezaButik.com
		</div>
	</div>
</footer>