<header>
	<div class="header-wrapper">
		<div class="menu-toggle">
			<span class="icon-bars"></span>
		</div>
		<div class="header-logo">
			<a href="./"><img src="./assets/images/logo_zeeza.png" align="middle"></a>
		</div>

		<div class="header-menu">
			<ul>
				<li><a href="information.html">Cara Pemesanan</a></li>
				<li><a href="information.html">Daftar Reseller</a></li>
				<li><a href="information.html">Testimonial</a></li>
				<li><a href="information.html">Sahabat Zeeza</a></li>
				<li><a href="information.html">FAQ</a></li>
			</ul>
		</div>
	</div>
</header>