<section class="navbar-wrapper">
	<nav class="navbar-category">
		<ul id="main_menu">
			<!-- <li><a>Baby girl<span class="icon-angle-down"></span></a>
				<ul class="active">
					<li><a href="./product.html">headband</a></li>
					<li><a href="./product.html">baju</a></li>
					<li><a href="./product.html">prewalker</a></li>
				</ul>
			</li>
			<li><a>Baby boy<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="./product.html">baju</a></li>
					<li><a href="./product.html">prewalker</a></li>
				</ul>
			</li>
			<li><a>girl's room<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="./product.html">atasan</a></li>
					<li><a href="./product.html">rok & celana</a></li>
					<li><a href="./product.html">jaket & rompi</a></li>
					<li><a href="./product.html">piyama</a></li>
					<li><a href="./product.html">dress</a></li>
					<li><a href="./product.html">baju muslim</a></li>
					<li><a href="./product.html">Aksesoris</a></li>
				</ul>
			</li>
			<li><a>boy's room<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="./product.html">Kemeja & Polo shirt</a></li>
					<li><a href="./product.html">jaket & rompi</a></li>
					<li><a href="./product.html">baju</a></li>
					<li><a href="./product.html">piyama</a></li>
					<li><a href="./product.html">celana</a></li>
					<li><a href="./product.html">Aksesoris</a></li>
				</ul>
			</li>
			<li><a>boy's room<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="./product.html">Kemeja & Polo shirt</a></li>
					<li><a href="./product.html">jaket & rompi</a></li>
					<li><a href="./product.html">baju</a></li>
					<li><a href="./product.html">piyama</a></li>
					<li><a href="./product.html">celana</a></li>
					<li><a href="./product.html">Aksesoris</a></li>
					<li><a href="./product.html">Kemeja & Polo shirt</a></li>
					<li><a href="./product.html">jaket & rompi</a></li>
					<li><a href="./product.html">baju</a></li>
					<li><a href="./product.html">piyama</a></li>
					<li><a href="./product.html">celana</a></li>
					<li><a href="./product.html">Aksesoris</a></li>
				</ul>
			</li> -->
		</ul>
	</nav>
</section>	
<script src="./script/app/nav_script.js"></script>