<section class="navbar-wrapper">
	<nav class="navbar-category">
		<ul id="main_menu">
			<!-- <li><a>Baby girl<span class="icon-angle-down"></span></a>
				<ul class="active">
					<li><a href="./product.html">headband</a></li>
					<li><a href="./product.html">baju</a></li>
					<li><a href="./product.html">prewalker</a></li>
				</ul>
			</li> -->
		</ul>
		<div class="search-product">
			<div class="search-input"><input type="text" placeholder="Search Code" name="input-code"><button id="btn-search">Go</button></div>
			<div id="icon-search" class="icon-search"></div>
		</div>
	</nav>	
</section>	
<script>
	$('#icon-search').on('click', function(){
		$('div.search-input').toggleClass('show-input');
	})
	$('#btn-search').on('click', function(){
		var code = $('input[name=input-code]').val();
		window.location.href=constant.SITE+'search.html?code='+code;
	})
</script>
<!--<script src="./script/app/nav_script.js"></script>-->