<div class="grid-col-3 grid-col-sm-12">
	<!-- <div class="filter-product">
		<span class="sidebar-header">
			Category
		</span>
		<div class="sidebar-list" id="sidebar-list">
			<ul>
				<li><a href="">Baby Girl<span class="icon-plus-square-o"></span></a>
					<ul>
						<li><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
					</ul>
				</li>
				<li><a href="">baby boy<span class="icon-plus-square-o"></span></a></li>
				<li><a href="">girl's room<span class="icon-plus-square-o"></span></a></li>
				<li><a href="">boy's room<span class="icon-plus-square-o"></span></a></li>
			</ul>
		</div>
	</div>-->
	<div class="filter-product">
		<span class="sidebar-header">
			Age Range
		</span>
		<div class="sidebar-list" id="sidebar-age">
			<ul>
				<!-- <li><a href="">0 - 1 Tahun</a></li>
				<li><a href="">1 - 3 Tahun</a></li>
				<li><a href="">3 - 5 Tahun</a></li>
				<li><a href="">> 5 Tahun</a></li> -->
			</ul>
		</div>
	</div>
	<div class="filter-product push-top">
		<span class="sidebar-header">
			Brand
		</span>
		<div class="sidebar-list" id="sidebar-brand">
			<ul>
				<!-- <li><a href="">0 - 1 Tahun</a></li>
				<li><a href="">1 - 3 Tahun</a></li>
				<li><a href="">3 - 5 Tahun</a></li>
				<li><a href="">> 5 Tahun</a></li> -->
			</ul>
		</div>
	</div>
</div>