@font-face {
	font-family : bebasBook;
	src : url('../../fonts/BebasNeueBook.ttf');
}

@font-face{
	font-family : bebasBook;
	src: url('../../fonts/BebasNeueBook.eot') format('embedded-opentype');
	src: url("../../fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeueBook.woff") format("woff"), url("../../fonts/BebasNeueBook.ttf") format("truetype"), url("../../fonts/BebasNeueBook.svg#bebasBook") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family : arcon;
	src: url("../../fonts/arcon-regular_1-webfont.eot") format('embedded-opentype');
	src: url("../../fonts/arcon-regular_1-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/arcon-regular_1-webfont.woff") format("woff"), url("../../fonts/arcon-regular_1-webfont.ttf") format("truetype"), url("../../fonts/arcon-regular_1-webfont.svg#arcon") format("svg");
	font-weight: normal;
	font-style: normal;
}