// FONTS
$arcon : arcon;

// COLOR
$greySmooth : #f9f9f9;
$greyDark : #3f3f3f;
$greyMedium : #666666;
$greyLight : #c0c0c0;
$greyAbs:#1d1d1d;

$blueGrey : #45859c;
$blueLight : #75d1f3;

$greenGrey : #7ac477;

$white : #ffffff;
$black : #000;
$red:#a60014;