@import 'font';

body{
	background-color:#fff;
	padding:0;
	margin:0;
}

header{
	width:100%;
	height:100px;
	background-color:#f1f1f1
}

.header-wrapper{
	max-width:1200px;
	width:100%;
	border:1px solid red;
	margin:0 auto;
	height:100%;	
}

.header-logo{
	border:1px solid red;
	max-width:300px;
	margin:0.8em 0;
	display:inline-block;
	float:left;

	img{
		vertical-align:middle;
	}
}

.header-menu{
	border:1px solid red;
	float:right;
	max-width:800px;
	height:40px;
}